DATABASE_URL=postgresql://postgres:postgres@localhost:5432/tech_quiz?schema=public
NODE_ENV=development
PORT=3001
LOG_LEVEL=verbose
DOMAIN=localhost:3000
SESSION_COOKIE_NAME=session
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=noreply@yourdomain.com
